{% extends "base.html" %}

{% block title %}
    Planet list
{% endblock %}

{% block content %}
    <h1>Star Wars universe planets</h1>
    <button id="previous" class="btn btn-primary">Previous</button>
    <button id="next" class="btn btn-primary">Next</button>
    <div id="modals"></div>
    <div id="modals-votes">
        <div class="modal fade" id="votesModal" tabindex="-1" aria-labelledby="votesLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="votesLabel">Voting Statistics</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Planet name</th>
                                    <th>Received votes</th>
                                </tr>
                                </thead>
                                <tbody id="stats-table"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>Climate</th>
                    <th>Terrain</th>
                    <th>Surface Water Percentage</th>
                    <th>Population</th>
                    <th>Residents</th>
                    {% if user %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="planets-data">

            </tbody>
        </table>
    </div>
{% endblock %}